<a href="https://colab.research.google.com/github/Ericknht/PracticalFoundationAI/blob/main/introducci%C3%B3n_a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
series = pd.Series([5, 10, 15, 20, 25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
series[3]

20

In [ ]:
cad = pd.Series(['p', 'l', 'a', 't', 'z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [ ]:
lst = ['hola', 'mundo', 'robótico']
df = pd.DataFrame(lst)
print(df)

          0
0      hola
1     mundo
2  robótico

In [ ]:
data = {'Nombre': ['Juan', 'Ana', 'Jose', 'Arturo'],
        'Edad': [25, 18, 23, 27],
        'Pais': ['MX', 'CO', 'BR', 'MX']}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    18   CO
2    Jose    23   BR
3  Arturo    27   MX

In [ ]:
print( df[['Nombre', 'Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   CO
2    Jose   BR
3  Arturo   MX

In [ ]:
data = pd.read_csv('canciones-2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [ ]:
artista = data.artists
artista[5]

'Post Malone'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [ ]:
data.tail()

                       id  ... time_signature
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[5 rows x 16 columns]

In [ ]:
data.shape

(100, 16)

In [ ]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [ ]:
data['tempo'].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [ ]:
data.sort_index(axis=0, ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

In [ ]:
my_data = data[['name','artists', 'energy']]
my_data.sort_values(by='energy',axis=0, ascending=False)

                                           name        artists  energy
12                                Nice For What          Drake   0.909
77  1, 2, 3 (feat. Jason Derulo & De La Ghetto)    Sofia Reyes   0.895
34                              ?chame La Culpa     Luis Fonsi   0.889
9                                       FRIENDS     Marshmello   0.880
7                      One Kiss (with Dua Lipa)  Calvin Harris   0.862
..                                          ...            ...     ...
52                         Too Good At Goodbyes      Sam Smith   0.375
91                                   Yes Indeed       Lil Baby   0.346
38                                      changes   XXXTENTACION   0.308
84          Perfect Duet (Ed Sheeran & Beyonc?)     Ed Sheeran   0.299
80                         lovely (with Khalid)  Billie Eilish   0.296

[100 rows x 3 columns]